{% extends 'juegos/base_generic.html' %}
{% load static %}
{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        <img src="{{ juego.imagen.url }}" class="img-fluid" alt="{{ juego.nombre }}" />
      </div>
      <div class="col-md-4">
        <h3>{{ juego.nombre }}</h3>
        <p>{{ juego.descripcion }}</p>
        <p class="price">Precio: CLP$ {{ juego.precio }}</p>
        {% if user.is_authenticated %}
        <a href="{% url 'agregar_al_carrito' juego.id%}" class="btn btn-primary">Añadir al Carrito</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}